#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
input[type="range"]{
  -webkit-appearance: none;
  height: 10px;
  background: #3b3b3b;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 40px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #84cc16;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #84cc16;
  border:1px solid white

}
p{
  color: gray;
  font-weight: 700;
  font-size: 1rem;
}